---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/search?api_key=1EFRD4YMEN003A4N1&combined=%7B:artist=%3E%22Rachel%20Loy%22,%20:title=%3E%22Stepladder%22%7D&results=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 20284:30451
      X-Ratelimit-Remaining:
      - '118'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": [{"artist_id": "ARHBV1W1187B9B496C", "id": "SOOWAAV13CF6D1B3FA",
        "artist_name": "Rachel Loy", "title": "Stepladder"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOLCFXS12AB018A564", "artist_name": "Rachel Loy", "title": "Rachel
        talks about \"The Same Man\""}, {"artist_id": "ARZWZYC13BEDDDFA7F", "id":
        "SOPXTLW13D4328D660", "artist_name": "DJ B Loy", "title": "Ready to B-Loy"},
        {"artist_id": "ARHBV1W1187B9B496C", "id": "SOEMBZM137E01A4C85", "artist_name":
        "Rachel Loy", "title": "I Can Feel It (Lovin'' Me) P.H.A.T.T. Radio Edit"},
        {"artist_id": "ARHBV1W1187B9B496C", "id": "SOELUIG13CF6D1858A", "artist_name":
        "Rachel Loy", "title": "Too Good to Be True"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SODPILT131343943AF", "artist_name": "Rachel Loy", "title": "Stay"},
        {"artist_id": "ARHBV1W1187B9B496C", "id": "SODKUSZ131BC1F79B5", "artist_name":
        "Rachel Loy", "title": "You Win"}, {"artist_id": "ARHBV1W1187B9B496C", "id":
        "SOCGYQY14620B0B4EC", "artist_name": "Rachel Loy", "title": "The Same Man
        (For Matthew) (Acoustic Version)"}, {"artist_id": "ARHBV1W1187B9B496C", "id":
        "SOCHFDJ137E01A4C92", "artist_name": "Rachel Loy", "title": "I Can Feel It
        (Lovin'' Me) Audioscape Radio Edit"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOCNWSA130516E06B8", "artist_name": "Rachel Loy", "title": "Afraid
        to Steer"}]}}'
  recorded_at: Thu, 20 Nov 2014 21:16:04 GMT
recorded_with: VCR 2.9.3
