---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/search?api_key=1EFRD4YMEN003A4N1&combined=%7B:artist=%3E%22Rachel%20Loy%22,%20:title=%3E%22Stepladder%22%7D&results=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 9f840:24720
      X-Ratelimit-Remaining:
      - '118'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": [{"artist_id": "ARHBV1W1187B9B496C", "id": "SOOWAAV13CF6D1B3FA",
        "artist_name": "Rachel Loy", "title": "Stepladder"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOLCFXS12AB018A564", "artist_name": "Rachel Loy", "title": "Rachel
        talks about \"The Same Man\""}, {"artist_id": "ARZWZYC13BEDDDFA7F", "id":
        "SOPXTLW13D4328D660", "artist_name": "DJ B Loy", "title": "Ready to B-Loy"},
        {"artist_id": "ARHBV1W1187B9B496C", "id": "SOFURHF13152A76387", "artist_name":
        "Rachel Loy", "title": "Overboard"}, {"artist_id": "ARHBV1W1187B9B496C", "id":
        "SOFQNVR13152A76247", "artist_name": "Rachel Loy", "title": "Sweet Dreams"},
        {"artist_id": "ARHBV1W1187B9B496C", "id": "SONSSQD131BC1F7456", "artist_name":
        "Rachel Loy", "title": "Give Yourself a Kiss"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOIKFZR13CF6D1BC83", "artist_name": "Rachel Loy", "title": "Not Anymore"},
        {"artist_id": "ARHBV1W1187B9B496C", "id": "SOXNNSQ13152A775BF", "artist_name":
        "Rachel Loy", "title": "Sky Line"}, {"artist_id": "ARHBV1W1187B9B496C", "id":
        "SOGQDVI130516DD94A", "artist_name": "Rachel Loy", "title": "You Win"}, {"artist_id":
        "ARHBV1W1187B9B496C", "id": "SOHDVBF130516DD0AC", "artist_name": "Rachel Loy",
        "title": "Inconsolable"}]}}'
  recorded_at: Sun, 30 Nov 2014 02:55:35 GMT
recorded_with: VCR 2.9.3
