---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/search?api_key=1EFRD4YMEN003A4N1&combined=%7B:artist=%3E%22asfdasdf%22,%20:title=%3E%22asdf%22%7D&results=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - d1c7d:25587
      X-Ratelimit-Remaining:
      - '119'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '1'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": [{"artist_id": "ARMQTCA13B9E60C280", "id": "SOTRDQR14468110D3F",
        "artist_name": "title Music", "title": "title Sangeet - Chhel Chhabilo"},
        {"artist_id": "ARSVSYN12D51A6FFD9", "id": "SOSJHSG12DDCACD7F0", "artist_name":
        "[title of show] Original Cast", "title": "[title of show]"}, {"artist_id":
        "ARKXNRJ13E0EC929D6", "id": "SOSAMLF142B3728A08", "artist_name": "Artist Drowning",
        "title": "Artist Drowning"}, {"artist_id": "ARSORMR141040305F0", "id": "SOZOWAI14134EAB59D",
        "artist_name": "Artist Sensey", "title": "Artist Statement"}, {"artist_id":
        "ARCAOAL11F4C8446F0", "id": "SOSCCMZ148758E8490", "artist_name": "C.A.R.",
        "title": "Asdf"}, {"artist_id": "ARCIZID12E30EB9650", "id": "SOGJZZD1474545A16A",
        "artist_name": "Egart", "title": "Asdf"}, {"artist_id": "AR9TO5Q1187FB47C19",
        "id": "SOOAXAG1313439EFAD", "artist_name": "Paza Rahm", "title": "Asdf"},
        {"artist_id": "ARZFATG1257509C0A4", "id": "SOYZNXR1312A8AD550", "artist_name":
        "Woman In Panic", "title": "Asdf"}, {"artist_id": "ARRMJHS13A23CD05ED", "id":
        "SOTVYFO1442DCFE770", "artist_name": "Shade K", "title": "Asdf"}, {"artist_id":
        "ARJMPGH11F4C8429C6", "id": "SOPYMGE12A8C13E7E1", "artist_name": "Space Ritual",
        "title": "ASDF"}]}}'
  recorded_at: Fri, 12 Dec 2014 17:55:49 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/artist/profile?api_key=1EFRD4YMEN003A4N1&bucket=genre&name=Paza%20Rahm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 2d6ca:28115
      X-Ratelimit-Remaining:
      - '118'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '2'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "artist": {"genres": [{"name": "chiptune"}, {"name": "nintendocore"}], "id":
        "AR9TO5Q1187FB47C19", "name": "Paza Rahm"}}}'
  recorded_at: Fri, 12 Dec 2014 17:55:49 GMT
recorded_with: VCR 2.9.3
