<div class="mic-image">
  <div class="row">
    <div class="logo-panel panel large-offset-2 medium-offset-2 medium-6 small-12 columns">
      <h1>playola</h1>
      <a class="btn-auth btn-twitter large" href="/auth/twitter"><img src="../images/sign-in-with-twitter-gray.png"></img></a>

    </div>
  </div>
</div>
