---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/catalog/read?api_key=1EFRD4YMEN003A4N1&id=CALBLSS14721C1C716&results=1000&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 962d4:5088
      X-Ratelimit-Remaining:
      - '117'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "catalog": {"name": "playolasongs", "items": [], "start": 0, "total": 0, "type":
        "song", "id": "CALBLSS14721C1C716"}}}'
  recorded_at: Wed, 19 Nov 2014 21:48:42 GMT
- request:
    method: post
    uri: http://developer.echonest.com/api/v4/catalog/update
    body:
      encoding: UTF-8
      string: api_key=1EFRD4YMEN003A4N1&data=%5B%7B%22item%22%3A%7B%22item_id%22%3A%22test_key.mp3%22%2C%22song_id%22%3A%22SOOWAAV13CF6D1B3FA%22%2C%22item_keyvalues%22%3A%7B%22pl_artist%22%3A%22Rachel+Loy%22%2C%22pl_key%22%3A%22test_key.mp3%22%2C%22pl_title%22%3A%22Stepladder%22%2C%22pl_album%22%3A%22Broken+Machine%22%2C%22pl_duration%22%3A999%7D%7D%7D%5D&data_type=json&id=CALBLSS14721C1C716
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 2d6ca:19794
      X-Ratelimit-Remaining:
      - '116'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "ticket": "CALBLSS14721C1C716650DC26F330842"}}'
  recorded_at: Wed, 19 Nov 2014 21:48:42 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/catalog/read?api_key=1EFRD4YMEN003A4N1&id=CALBLSS14721C1C716&results=1000&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 04371:7822
      X-Ratelimit-Remaining:
      - '115'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "catalog": {"name": "playolasongs", "items": [{"song_name": "Stepladder",
        "artist_id": "ARHBV1W1187B9B496C", "item_keyvalues": {"pl_album": "Broken
        Machine", "pl_duration": 999, "pl_title": "Stepladder", "pl_key": "test_key.mp3",
        "pl_artist": "Rachel Loy"}, "artist_name": "Rachel Loy", "last_modified":
        "2014-11-19T21:48:41", "date_added": "2014-11-19T21:48:41", "foreign_id":
        "CALBLSS14721C1C716:song:test_key.mp3", "song_id": "SOOWAAV13CF6D1B3FA", "request":
        {"item_id": "test_key.mp3", "song_id": "SOOWAAV13CF6D1B3FA"}}], "start": 0,
        "total": 1, "type": "song", "id": "CALBLSS14721C1C716"}}}'
  recorded_at: Wed, 19 Nov 2014 21:48:42 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/catalog/read?api_key=1EFRD4YMEN003A4N1&id=CALBLSS14721C1C716&results=1000&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 2902a:17536
      X-Ratelimit-Remaining:
      - '114'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '6'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "catalog": {"name": "playolasongs", "items": [{"song_name": "Stepladder",
        "artist_id": "ARHBV1W1187B9B496C", "item_keyvalues": {"pl_album": "Broken
        Machine", "pl_duration": 999, "pl_title": "Stepladder", "pl_key": "test_key.mp3",
        "pl_artist": "Rachel Loy"}, "artist_name": "Rachel Loy", "last_modified":
        "2014-11-19T21:48:41", "date_added": "2014-11-19T21:48:41", "foreign_id":
        "CALBLSS14721C1C716:song:test_key.mp3", "song_id": "SOOWAAV13CF6D1B3FA", "request":
        {"item_id": "test_key.mp3", "song_id": "SOOWAAV13CF6D1B3FA"}}], "start": 0,
        "total": 1, "type": "song", "id": "CALBLSS14721C1C716"}}}'
  recorded_at: Wed, 19 Nov 2014 21:48:43 GMT
recorded_with: VCR 2.9.3
