---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/catalog/read?api_key=1EFRD4YMEN003A4N1&id=CALBLSS14721C1C716&results=1000&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - ef99f:23413
      X-Ratelimit-Remaining:
      - '105'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '15'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "catalog": {"name": "playolasongs", "items": [], "start": 0, "total": 0, "type":
        "song", "id": "CALBLSS14721C1C716"}}}'
  recorded_at: Wed, 19 Nov 2014 21:48:44 GMT
- request:
    method: post
    uri: http://developer.echonest.com/api/v4/catalog/update
    body:
      encoding: UTF-8
      string: api_key=1EFRD4YMEN003A4N1&data=%5B%7B%22item%22%3A%7B%22item_id%22%3A%22test_key.mp3%22%2C%22song_id%22%3A%22SOOWAAV13CF6D1B3FA%22%2C%22item_keyvalues%22%3A%7B%22pl_artist%22%3A%22Rachel+Loy%22%2C%22pl_key%22%3A%22test_key.mp3%22%2C%22pl_title%22%3A%22Stepladder%22%2C%22pl_album%22%3A%22Broken+Machine%22%2C%22pl_duration%22%3A999%7D%7D%7D%2C+%0A%7B%22item%22%3A%7B%22item_id%22%3A%22test_key2.mp3%22%2C%22song_id%22%3A%22SOTWSLV13CF6D275AF%22%2C%22item_keyvalues%22%3A%7B%22pl_artist%22%3A%22Rachel+Loy%22%2C%22pl_key%22%3A%22test_key2.mp3%22%2C%22pl_title%22%3A%22Cheater%22%2C%22pl_album%22%3A%22Broken+Machine%22%2C%22pl_duration%22%3A888%7D%7D%7D%5D&data_type=json&id=CALBLSS14721C1C716
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 9a059:12009
      X-Ratelimit-Remaining:
      - '104'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '16'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "ticket": "CALBLSS14721C1C716640368E44D2443"}}'
  recorded_at: Wed, 19 Nov 2014 21:48:44 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/catalog/read?api_key=1EFRD4YMEN003A4N1&id=CALBLSS14721C1C716&results=1000&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - ef99f:23451
      X-Ratelimit-Remaining:
      - '103'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '17'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "catalog": {"name": "playolasongs", "items": [{"song_name": "Stepladder",
        "artist_id": "ARHBV1W1187B9B496C", "item_keyvalues": {"pl_album": "Broken
        Machine", "pl_duration": 999, "pl_title": "Stepladder", "pl_key": "test_key.mp3",
        "pl_artist": "Rachel Loy"}, "artist_name": "Rachel Loy", "last_modified":
        "2014-11-19T21:48:43", "date_added": "2014-11-19T21:48:43", "foreign_id":
        "CALBLSS14721C1C716:song:test_key.mp3", "song_id": "SOOWAAV13CF6D1B3FA", "request":
        {"item_id": "test_key.mp3", "song_id": "SOOWAAV13CF6D1B3FA"}}, {"song_name":
        "Cheater", "artist_id": "ARHBV1W1187B9B496C", "item_keyvalues": {"pl_album":
        "Broken Machine", "pl_duration": 888, "pl_title": "Cheater", "pl_key": "test_key2.mp3",
        "pl_artist": "Rachel Loy"}, "artist_name": "Rachel Loy", "last_modified":
        "2014-11-19T21:48:43", "date_added": "2014-11-19T21:48:43", "foreign_id":
        "CALBLSS14721C1C716:song:test_key2.mp3", "song_id": "SOTWSLV13CF6D275AF",
        "request": {"item_id": "test_key2.mp3", "song_id": "SOTWSLV13CF6D275AF"}}],
        "start": 0, "total": 2, "type": "song", "id": "CALBLSS14721C1C716"}}}'
  recorded_at: Wed, 19 Nov 2014 21:48:44 GMT
[...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/catalog/read?api_key=1EFRD4YMEN003A4N1&id=CALBLSS14721C1C716&results=1000&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - fe870:7991
      X-Ratelimit-Remaining:
      - '101'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '19'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "catalog": {"name": "playolasongs", "items": [{"song_name": "Cheater", "artist_id":
        "ARHBV1W1187B9B496C", "item_keyvalues": {"pl_album": "Broken Machine", "pl_duration":
        888, "pl_title": "Cheater", "pl_key": "test_key2.mp3", "pl_artist": "Rachel
        Loy"}, "artist_name": "Rachel Loy", "last_modified": "2014-11-19T21:48:43",
        "date_added": "2014-11-19T21:48:43", "foreign_id": "CALBLSS14721C1C716:song:test_key2.mp3",
        "song_id": "SOTWSLV13CF6D275AF", "request": {"item_id": "test_key2.mp3", "song_id":
        "SOTWSLV13CF6D275AF"}}], "start": 0, "total": 1, "type": "song", "id": "CALBLSS14721C1C716"}}}'
  recorded_at: Wed, 19 Nov 2014 21:48:45 GMT
recorded_with: VCR 2.9.3
