---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/catalog/read?api_key=1EFRD4YMEN003A4N1&id=CAIQEUO1473A654C51&results=1000&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - a0306:24300
      X-Ratelimit-Remaining:
      - '117'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "catalog": {"name": "Playola Test", "items": [], "start": 0, "total": 0, "type":
        "song", "id": "CAIQEUO1473A654C51"}}}'
  recorded_at: Sat, 23 Aug 2014 20:35:04 GMT
- request:
    method: post
    uri: http://developer.echonest.com/api/v4/catalog/update
    body:
      encoding: UTF-8
      string: api_key=1EFRD4YMEN003A4N1&data=%5B%7B%22item%22%3A%7B%22item_id%22%3A%22test_key.mp3%22%2C%22song_id%22%3A%22SOOWAAV13CF6D1B3FA%22%2C%22item_keyvalues%22%3A%7B%22pl_artist%22%3A%22Rachel+Loy%22%2C%22pl_key%22%3A%22test_key.mp3%22%2C%22pl_title%22%3A%22Stepladder%22%2C%22pl_album%22%3A%22Broken+Machine%22%2C%22pl_duration%22%3A999%7D%7D%7D%5D&data_type=json&id=CAIQEUO1473A654C51
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - e3774:6841
      X-Ratelimit-Remaining:
      - '116'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '4'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "ticket": "CAIQEUO1473A654C51F0DD4B3FAD3440"}}'
  recorded_at: Sat, 23 Aug 2014 20:35:05 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/catalog/read?api_key=1EFRD4YMEN003A4N1&id=CAIQEUO1473A654C51&results=1000&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 14f18:2570
      X-Ratelimit-Remaining:
      - '115'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '5'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "catalog": {"name": "Playola Test", "items": [{"song_name": "Stepladder",
        "artist_id": "ARHBV1W1187B9B496C", "item_keyvalues": {"pl_album": "Broken
        Machine", "pl_duration": 999, "pl_title": "Stepladder", "pl_key": "test_key.mp3",
        "pl_artist": "Rachel Loy"}, "artist_name": "Rachel Loy", "last_modified":
        "2014-08-23T20:35:06", "date_added": "2014-08-23T20:35:05", "foreign_id":
        "CAIQEUO1473A654C51:song:test_key.mp3", "song_id": "SOOWAAV13CF6D1B3FA", "request":
        {"item_id": "test_key.mp3", "song_id": "SOOWAAV13CF6D1B3FA"}}], "start": 0,
        "total": 1, "type": "song", "id": "CAIQEUO1473A654C51"}}}'
  recorded_at: Sat, 23 Aug 2014 20:35:06 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/catalog/read?api_key=1EFRD4YMEN003A4N1&id=CAIQEUO1473A654C51&results=1000&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 14f18:2619
      X-Ratelimit-Remaining:
      - '114'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '6'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "catalog": {"name": "Playola Test", "items": [{"song_name": "Stepladder",
        "artist_id": "ARHBV1W1187B9B496C", "item_keyvalues": {"pl_album": "Broken
        Machine", "pl_duration": 999, "pl_title": "Stepladder", "pl_key": "test_key.mp3",
        "pl_artist": "Rachel Loy"}, "artist_name": "Rachel Loy", "last_modified":
        "2014-08-23T20:35:06", "date_added": "2014-08-23T20:35:05", "foreign_id":
        "CAIQEUO1473A654C51:song:test_key.mp3", "song_id": "SOOWAAV13CF6D1B3FA", "request":
        {"item_id": "test_key.mp3", "song_id": "SOOWAAV13CF6D1B3FA"}}], "start": 0,
        "total": 1, "type": "song", "id": "CAIQEUO1473A654C51"}}}'
  recorded_at: Sat, 23 Aug 2014 20:35:07 GMT
recorded_with: VCR 2.9.2
