// Place all the styles related to the station controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "sass_variables.css.scss";


body .wall-without-mic-image {
  height: 100%;
  width: 100%;
  background-image: url('../images/just_background.jpg');
  background-size: cover;
  background-repeat: repeat-y;
}

#getUserInfoModal, #getStationInfoModal {
  text-align: center;
}

.rotation-bin {
  height: 200px;
  border: 2px solid $microphone-red;
}

#getStationInfoModal .button {
  height: 69px;
}

#catalog-list, #all-songs-source-list {
  li {
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .disabled {
    opacity:0.5;
    // for disabling text selection
  }
}

#why {
  line-height: 100%;
  margin-bottom: 10px;
}
.headline {
  margin-right: auto;
  margin-left: auto;
}

fieldset {
}

#spinsPerWeekList {
  li {
    transition: all 0.2s ease-out;
    margin: 2px 0 2px 0;
    background-color: $darker-item;
    overflow-x: hidden;
    list-style-type: none;
    border: 1px solid $darker-item-border;

    select {
      height: 100%;
      width: 65px;
      border: 0;
      padding: 0;
      margin: 0 3px 0 0;
      float: right;
      background-color: $lighter-item;
      font-size: 0.7em;
    }
    .songlist-artist {
      float: left;
      overflow-x: hidden;
    }
    .songlist-title {
      float: left;
      width: 50%;
      overflow-x: hidden;
    }
  }
  font-size: 0.9rem;
  background: $lighter-item;
  height: 360px;
  overflow-y: scroll;
  margin: 0;
}

#schedule-list {
  li {
    //transition: all 0.2s ease-out;
    margin: 2px 0 2px 0;
    background-color: $darker-item;
    overflow-x: hidden;
    list-style-type: none;
    border: 1px solid $darker-item-border;

    select {
      height: 100%;
      width: 65px;
      border: 0;
      padding: 0;
      margin: 0 3px 0 0;
      float: right;
      background-color: $lighter-item;
      font-size: 0.7em;
    }

    .songlist-artist {
      float: left;
      overflow-x: hidden;
      width: 30%;
    }
    .songlist-title {
      float: left;
      width: 40%;
      overflow-x: hidden;
    }
    
    .songlist-airtime {
      float: left;
      overflow-x: hidden;
      width: 25%;
      margin-left: 14px;
    }

    li .close {
      width: 5%;
      float: left;
    }
  }

  .commercialBlock {
    background-color: $big-accent-toned-down;

    .songlist-title {
      float: left;
      width: 70%;
    }
  }

  .commentary {
    background-color: $primary;
    
    .songlist-title {
      float: left;
      width: 20%;
    }

    .songlist-artist {
      width: 50%;
      float: left;
    }

    .songlist-airtime {
      width: 25%;
      float: left;
      margin-left: 14px;
    }
  }

  li {
   -ms-user-select: none; /* IE 10+ */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
  }

  font-size: 0.9rem;
  background: $lighter-item;
  height: 360px;
  overflow-y: scroll;
  margin: 0;
}

.row {
  max-width: 90%
}

#catalog-fieldset {
  .tabs {
    width: 100%;
    dd {
      width: 50%;
      a {
        background-color: $lighter-item;
        width: 100%;
        padding: .5em 1em .5em 1em;
        text-align: center;
      }
    }
    dd.active a {
      background-color: $darker-item;
    }
  }
}

#recording {
  margin: 0;
  list-style: none;
  min-height: 20px;
 .commentary {
    background-color: $darker-item;
    audio {
      width: 80%;
      display: block;
    }
  }
}

#volumeMeter {
  height: 60px;
}