// Place all the styles related to the station controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-color: #F1EAE2;
$heavy-rotation: steelblue;
$medium-rotation: #147EFF;
$light-rotation: #11BAFF;
$main-background: #00647F;
$header-background: #00C8FF;
$main-font: white;
$commentary-color: red;
$microphone-red: #ED002A;

  
body .wall-without-mic-image {
  height: 100%;
  width: 100%;
  background-image: url('../images/just_background.jpg');
  background-size: cover;
  background-repeat: none;
}

#getUserInfoModal {
  text-align: center;
}

.rotation-bin {
  height: 200px;
  border: 2px solid $microphone-red;
}