// Place all the styles related to the station controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$navbar-color: #F1EAE2;
$heavy-rotation: steelblue;
$medium-rotation: #147EFF;
$light-rotation: #11BAFF;
$main-background: #00647F;
$header-background: #00C8FF;
$main-font: white;
$commentary-color: red;

  
body .wall-without-mic-image {
  height: 100%;
  width: 100%;
  background-image: url('../images/wall_without_mic.jpg');
  background-size: cover;
  background-repeat: none;
}

#getUserInfoModal {
  text-align: center;
}