// Place all the styles related to the upload controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "sass_variables.css.scss";
@import "foundation/components/tables";

$successful-upload: #d2f3d1;
$successful-upload-border: #adc7ac;

body .mic-image-inverse {
  height: 100%;
  width: 100%;
  background-image: url('../images/just_background.jpg');
  background-size: cover;
  background-repeat: none;
}

body {
  margin-top: 45px;
}

.reveal-modal h1 {
  text-align: center;
}
#uploaded-song-list {
  margin-top: 10px;
}

#uploaded-song-list, #catalog-list {
  background: white;
  height: 300px;
  overflow-y: scroll;
}

#drop-pane {
  height: 350px;
}

#catalog-list .songlist-artist {
  float: right;
}

#catalog-list {
  margin: 0;
}

#catalog-list li {
  font-size: .9rem;
}

#catalog-list li:nth-child(even) {
  background-color: $darker-item;
}

#catalog-list li:nth-child(odd) {
  background-color: $lighter-item;
}

#catalog-fieldset {
  padding: .8rem .1rem .8rem .1rem;
}

fieldset legend {
  background: none;
}

.drag-area{
  height: 69px;
}


.status.tiny.button {
  margin: 0;
  padding: 5px 5px 5px 5px;
}

.status {
  float: left;
  padding-top: 5px;
}

#uploaded-song-list {
  .alert-box.success {
    background-color: $successful-upload;
    border-color: $successful-upload-border;
  }
  .alert-box {
    height: 25px;
    line-height: 1em;
    margin-bottom: 5px;
    background-color: $darker-item;
    color: black;
    border-color: black;
    padding: 0 0 0 0;
    .filename {
      width: 55%;
      float: left;
      height: 100%;
      line-height: 100%;
      padding-top: 5px;
      padding-left: 5px;
    }
    .alert-box.success {
      background-color: $lighter-item;
    }
    .status.button {
      float: none;
      color: white;
    }
    .processing-icon {
      height: 20px;
      width: 20px;
      float: right;
      margin-right: 9px;
    }
  }
}
$include-html-table-classes: $include-html-classes !default;

table:nth-child(even) {
  background-color: $darker-item;
}

table:nth-child(odd) {
  background-color: $lighter-item;
}

#chooseSongContainer {
  overflow-y: scroll;
  height: 130px;
  margin-top: 5px;
}

#chooseMatch p {
  margin: 0;
  text-align: center;
}

#chooseSongTable {
  width: 100%;
  table-layout: fixed;
  thead {
    overflow: hidden;
  }
  thead tr th:first-child {
    width: 5%;
  }
  thead tr th:nth-child(2) {
    width: 25%;
  }
  tbody tr td:first-child input {
    line-height: 100%;
    display: block;
    margin-top: auto;
    margin-bottom: auto;
  }
  tbody td {
    padding-top: 2px;
    padding-bottom: 2px;
  }
}