---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/profile?api_key=1EFRD4YMEN003A4N1&id=SOOWAAV13CF6D1B3FA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 0c0ba:16741
      X-Ratelimit-Remaining:
      - '86'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '34'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": [{"artist_id": "ARHBV1W1187B9B496C", "id": "SOOWAAV13CF6D1B3FA",
        "artist_name": "Rachel Loy", "title": "Stepladder"}]}}'
  recorded_at: Wed, 19 Nov 2014 18:00:48 GMT
recorded_with: VCR 2.9.3
