---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/search?api_key=1EFRD4YMEN003A4N1&combined=%7B:artist=%3E%22Rachel%20Loy%22,%20:title=%3E%22Stepladder%22%7D&results=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 7cbef:4087
      X-Ratelimit-Remaining:
      - '99'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '21'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": [{"artist_id": "ARHBV1W1187B9B496C", "id": "SOOWAAV13CF6D1B3FA",
        "artist_name": "Rachel Loy", "title": "Stepladder"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOLCFXS12AB018A564", "artist_name": "Rachel Loy", "title": "Rachel
        talks about \"The Same Man\""}, {"artist_id": "ARZWZYC13BEDDDFA7F", "id":
        "SOPXTLW13D4328D660", "artist_name": "DJ B Loy", "title": "Ready to B-Loy"},
        {"artist_id": "ARHBV1W1187B9B496C", "id": "SORWAGV137E01A4A9A", "artist_name":
        "Rachel Loy", "title": "I Can Feel It (Lovin'' Me) JAKAZiD Remix"}, {"artist_id":
        "ARHBV1W1187B9B496C", "id": "SOTPAJO13152A759B5", "artist_name": "Rachel Loy",
        "title": "Looking at Me"}, {"artist_id": "ARHBV1W1187B9B496C", "id": "SOCRIXK13CF6D1DFF8",
        "artist_name": "Rachel Loy", "title": "Good Side"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOELUIG13CF6D1858A", "artist_name": "Rachel Loy", "title": "Too Good
        to Be True"}, {"artist_id": "ARHBV1W1187B9B496C", "id": "SOEWMIF131BC1F7A8E",
        "artist_name": "Rachel Loy", "title": "Psychobabble"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOEMBZM137E01A4C85", "artist_name": "Rachel Loy", "title": "I Can Feel
        It (Lovin'' Me) P.H.A.T.T. Radio Edit"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SODPILT131343943AF", "artist_name": "Rachel Loy", "title": "Stay"}]}}'
  recorded_at: Thu, 20 Nov 2014 04:41:30 GMT
recorded_with: VCR 2.9.3
