---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/search?api_key=1EFRD4YMEN003A4N1&combined=%7B:artist=%3E%22Rachel%20Loy%22,%20:title=%3E%22Stepladder%22%7D&results=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - c6357:8804
      X-Ratelimit-Remaining:
      - '108'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '12'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": [{"artist_id": "ARHBV1W1187B9B496C", "id": "SOOWAAV13CF6D1B3FA",
        "artist_name": "Rachel Loy", "title": "Stepladder"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOLCFXS12AB018A564", "artist_name": "Rachel Loy", "title": "Rachel
        talks about \"The Same Man\""}, {"artist_id": "ARZWZYC13BEDDDFA7F", "id":
        "SOPXTLW13D4328D660", "artist_name": "DJ B Loy", "title": "Ready to B-Loy"},
        {"artist_id": "ARHBV1W1187B9B496C", "id": "SOFJZVS13152A75BF9", "artist_name":
        "Rachel Loy", "title": "Love Me Too Much"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SORHTJW13152A777E4", "artist_name": "Rachel Loy", "title": "After The
        Storm"}, {"artist_id": "ARHBV1W1187B9B496C", "id": "SORGWUF13152A75938", "artist_name":
        "Rachel Loy", "title": "Drive Around"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOSSVBU13152A74FB5", "artist_name": "Rachel Loy", "title": "Unscrew
        You"}, {"artist_id": "ARHBV1W1187B9B496C", "id": "SOQSTRX13CF6D1AB37", "artist_name":
        "Rachel Loy", "title": "Fade to Gray"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SORZCTW1311AFDEA8C", "artist_name": "Rachel Loy", "title": "Maybe It''s
        Me"}, {"artist_id": "ARHBV1W1187B9B496C", "id": "SOUJGUG137E01A4BF0", "artist_name":
        "Rachel Loy", "title": "I Can Feel It (Lovin'' Me) Audioscape Transatlantic
        Remix"}]}}'
  recorded_at: Wed, 19 Nov 2014 21:49:39 GMT
recorded_with: VCR 2.9.3
