---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/profile?api_key=1EFRD4YMEN003A4N1&id=FAKEECHONESTID
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Remaining:
      - '102'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '18'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 5, "message": "id
        - Invalid parameter: id must be an Echo Nest id or foreign id"}}}'
  recorded_at: Wed, 19 Nov 2014 21:49:40 GMT
recorded_with: VCR 2.9.3
