---
http_interactions:
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/song/search?api_key=1EFRD4YMEN003A4N1&combined=%7B:artist=%3E%22Rachel%20Loy%22,%20:title=%3E%22Stepladder%22%7D&results=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 96cdc:9402
      X-Ratelimit-Remaining:
      - '117'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '3'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": [{"artist_id": "ARHBV1W1187B9B496C", "id": "SOOWAAV13CF6D1B3FA",
        "artist_name": "Rachel Loy", "title": "Stepladder"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOLCFXS12AB018A564", "artist_name": "Rachel Loy", "title": "Rachel
        talks about \"The Same Man\""}, {"artist_id": "ARZWZYC13BEDDDFA7F", "id":
        "SOPXTLW13D4328D660", "artist_name": "DJ B Loy", "title": "Ready to B-Loy"},
        {"artist_id": "ARHBV1W1187B9B496C", "id": "SOELUIG13CF6D1858A", "artist_name":
        "Rachel Loy", "title": "Too Good to Be True"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOGCQIY13CF6D1F408", "artist_name": "Rachel Loy", "title": "Cold Cold
        Heart"}, {"artist_id": "ARHBV1W1187B9B496C", "id": "SOLFXUA13CF6D1A389", "artist_name":
        "Rachel Loy", "title": "Broken Machine"}, {"artist_id": "ARHBV1W1187B9B496C",
        "id": "SOQSTRX13CF6D1AB37", "artist_name": "Rachel Loy", "title": "Fade to
        Gray"}, {"artist_id": "ARHBV1W1187B9B496C", "id": "SOXYMEA13CF6D19321", "artist_name":
        "Rachel Loy", "title": "Hey Cara"}, {"artist_id": "ARHBV1W1187B9B496C", "id":
        "SONSSQD131BC1F7456", "artist_name": "Rachel Loy", "title": "Give Yourself
        a Kiss"}, {"artist_id": "ARHBV1W1187B9B496C", "id": "SOPJKNV137E01A4C54",
        "artist_name": "Rachel Loy", "title": "I Can Feel It (Lovin'' Me) Audioscape
        Transatlantic Dub"}]}}'
  recorded_at: Mon, 18 Aug 2014 21:04:10 GMT
recorded_with: VCR 2.9.2
