---
http_interactions:
- request:
    method: post
    uri: http://developer.echonest.com/api/v4/catalog/update
    body:
      encoding: UTF-8
      string: api_key=1EFRD4YMEN003A4N1&data=%5B%7B%22item%22%3A%7B%22item_id%22%3A%22_pl_0000082_Adam+Hood_Gonna+Take+A+Woman..mp3%22%2C%22song_id%22%3A%22SOSBKLN134EE36C391%22%2C%22item_keyvalues%22%3A%7B%22pl_artist%22%3A%22Adam+Hood%22%2C%22pl_key%22%3A%22_pl_0000082_Adam+Hood_Gonna+Take+A+Woman..mp3%22%2C%22pl_title%22%3A%22Gonna+Take+A+Woman%22%2C%22pl_album%22%3A%22The+Shape+of+Things%22%2C%22pl_duration%22%3A274181%7D%7D%7D%2C+%0A%7B%22item%22%3A%7B%22item_id%22%3A%22_pl_0000036_Brian+Keane_Bar+Light[...]
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/catalog/read?api_key=1EFRD4YMEN003A4N1&id=CAIQEUO1473A654C51&results=1000&start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 7cbef:32103
      X-Ratelimit-Remaining:
      - '113'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '7'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "catalog": {"name": "Playola Test", "items": [], "start": 0, "total": 206,
        "type": "song", "id": "CAIQEUO1473A654C51"}}}'
  recorded_at: Fri, 12 Dec 2014 15:47:34 GMT
- request:
    method: get
    uri: http://developer.echonest.com/api/v4/playlist/static?api_key=1EFRD4YMEN003A4N1&artist=%5B%22Bob%20Dylan%22,%20%22Rachel%20Loy%22,%20%22Billy%20Gillman%22%5D&limited_interactivity=true&results=100&seed_catalog=CAIQEUO1473A654C51&type=catalog
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Worker-Node:
      - 9a059:20012
      X-Ratelimit-Remaining:
      - '112'
      X-Ratelimit-Limit:
      - '120'
      X-Api-Key:
      - 1EFRD4YMEN003A4N1
      X-Ratelimit-Used:
      - '8'
    body:
      encoding: UTF-8
      string: '{"response": {"status": {"version": "4.2", "code": 0, "message": "Success"},
        "songs": [{"artist_id": "ARRRVMG1187FB532AC", "id": "SOGNOTQ1312A8AA058",
        "artist_name": "Radney Foster", "title": "God Knows When"}, {"artist_id":
        "ARAFMN71187FB52EFD", "id": "SOFDGKZ12AB01843BD", "artist_name": "Cory Morrow",
        "title": "The Way Things Used To Be"}, {"artist_id": "AR82FM11187FB37758",
        "id": "SOEZLXD12AF729DC58", "artist_name": "Will Hoge", "title": "Hard To
        Love"}, {"artist_id": "ARJOCR71187B99286F", "id": "SOKRUOQ130516E1E0C", "artist_name":
        "Reckless Kelly", "title": "Mirage"}, {"artist_id": "ARIUXAQ1187B9B10A0",
        "id": "SOPINPH13129A910F4", [...]
