<div class="mic-image-inverse">
  <div class="row top-row">
    <div class="small-8 small-offset-4 columns">
      <div class="row">
        <div class="small-8 columns">
          <h1 class="title">DJ Booth</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-8 columns">
      <fieldset id="schedule-fieldset">
        <legend>Station Schedule</legend>
        <ul id="schedule-list">
          <% @program.each do |spin| %>
            <% if spin.is_a?(PL::CommercialBlock) %>
              <li class='commercialBlock'>Commercial Block</li>
            <% else %>
              <li class='song' data-currentPosition="<%= spin.current_position %>">s
                <span class="songlist-title"><%= spin.audio_block.title %></span>
                <span class="songlist-artist"><%= spin.audio_block.artist %></span>
                <span class="estimated-airtime"><%= spin.estimated_airtime %></span>
              </li>
            <% end %>
          <% end %> 
        </ul>
      </fieldset>
    </div>
    <div class="small-4 columns">
      <fieldset>
        <div class="row">
          <ul class="tabs" data-tab role="tablist">
            <li class="small-6 columns tab-title active" role="songSearch"><a href="#songSearchPanel" role="tab" tabindex="0" aria-selected="true" controls="songSearchPanel">Song Search</a></li>
            <li class="tab-title small-6 columns" role="voicetrack"><a href="#voicetrackPanel" role="tab" tabindex="0" aria-selected="false" controls="voicetrackPanel">Voicetrack</a></li>
          </ul>

          <div class="tabs-content">
            <section role="tabpanel" aria-hidden="false" class="content active" id="songSearchPanel">
              <h2>Here's where you search for songs</h2>
            </section>
            <section role="tabpanel" aria-hidden="true" class="content" id="voicetrackPanel">
              <h2> Here's where you record yourself deejaying </h2>
            </section>
          </div>
        </div>
      </fieldset>
    </div>
  </div>
</div>