<div class="wall-without-mic-image">

  <!-- Reveal Modals begin -->
  <%= content_tag "div", id: "getUserInfoModal", class: "reveal-modal", data: { userInfoComplete: @user_info_complete, reveal: true } do %>
    
    <h1>Big Brother Playola</h1>
    <h3>Would Like to Know 3 Things About You.</h3>
    
    <form data-abide id='userInfo'> 
      <div class="small-3 columns">
        <label for="birthYear" class="right">Your Birth Year</label>
      </div>
      <div class="small-9 columns">
        <%= select_year Date.today, :start_year => 2009, :end_year => 1900, :class =>"small-9 columns"  %>
        <small class="error">Please Tell Us Your Birth Year</small>
      </div>

      <div class="small-3 columns">
        <label for="gender" class="right">Gender</label>
      </div>
      <div class="small-9 columns">
        <select id="gender" placeholder="Gender" required>
          <option value=''></option>
          <option>Guy</option>
          <option>Girl</option>
        </select>
        <small class="error">Please Tell Us Your Gender</small>
      </div>

      <div class="small-3 columns">
        <label for="zipcode" class="right">Zipcode</label>
      </div>
      <div class="small-6 columns">
        <input id="zipcode" required type="text" pattern="^[0-9-]*$" placeholder="Zip Code">
        <small class="error">Please Type a Valid Zipcode</small>
      </div>
      
      <div class="small-1 columns">
        <a data-reveal-id="why" href="#">Why?</a>
      </div>

      <div class="row">
        <p><button type="submit">Take My Info, Evil Corporation</button></p>
        </div>
      </form>


    <% end %>
      <div id="why" class="reveal-modal" data-reveal>
        <h2>Why Do We Need To Know This Stuff?</h2>
        <dl>
          <dt>Birthdate and Gender</dt>
          <dd>So that we can charge more for our commercials, making more money with less commercials, and in turn passing more money on to songwriters, musicians, and Playola users like you.</dd>
          <dt>Zipcode</dt>
          <dd>So that we can match local listeners to local stations</dd>
        </dl>

        <a data-reveal-id="getUserInfoModal"class="close-reveal-modal">&#215;</a>
      </div>


  <!-- END MODALS  -->
  <!-- BEGIN PLAYLIST_PAGE -->
  <div class="row">
    <div class="rotation-bin heavy small-4 columns">
      <ul class="heavy rotation">
        <li></li>
        <li></li>
        <li></li>
      </ul>
    </div>

    <div class="rotation-bin medium small-4 columns">
    </div>
    <div class="rotation-bin light small-4 columns">
    </div>
  </div>
</div>