// Place all the styles related to the station controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "sass_variables.css.scss";


body .wall-without-mic-image {
  height: 100%;
  width: 100%;
  background-image: url('http://static.playola.fm/just_background.jpg');
  background-size: cover;
  background-repeat: repeat-y;
  display: inline-table;
}

.brown-background {
  background-image: image-url('brown_background.jpg');
  height: 500px;
}

#getUserInfoModal, #getStationInfoModal {
  text-align: center;
}

.rotation-bin {
  height: 200px;
  border: 2px solid $microphone-red;
}

.nowPlaying .progress .meter {
  background-color: #0E5050;
}

#getStationInfoModal .button {
  height: 69px;
}

#catalog-list {
  &.onDjBoothPage {
    height: 323px;
  }
  li {
    list-style-type: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .disabled {
    opacity:0.5;
    // for disabling text selection
  }
}

#onlyMySongs {
  float: right;
  margin: 5px 5px 0px 5px;
}

#onlyMySongs-label {
  float:right;
  margin-bottom: 2px;
}

#why {
  line-height: 100%;
  margin-bottom: 10px;
}
.headline {
  margin-right: auto;
  margin-left: auto;
}

dd a:focus {
  outline: 0;
}

#catalog-list {
  &.song-manager-page {
    height: 307px;
  }
}

#spinsPerWeekList {
  background: rgba(0,0,0,0);
  font-size: 0.9rem;
  height: 360px;
  overflow-y: scroll;
  margin: 0;
  line-height: 100%;

  li {
    background-color: $darker-item;
    font-size: .9rem;
    list-style-type: none;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin: 0 0 2px 0;
    box-sizing: border-box;
    padding: 9px 15px;

    select {
      height: 100%;
      width: 90px;
      border: 0;
      padding: 0;
      margin: 5px 3px 0 0;
      float: left;
      background-color: $lighter-item;
      font-size: 0.7em;
    }
    .songlist-artist {
      float: left;
      overflow-x: hidden;
      width: 35%;
    }
    .songlist-title {
      float: left;
      width: 35%;
      overflow-x: hidden;
    }
    .close {
      width: 5%;
      float: right;
    }
  }
}

#station-list {
  height: 340px;
  background: rgba(0,0,0,0);
  font-size: 0.9rem;
  height: 360px;
  overflow-y: scroll;
  margin: 0;

  li:nth-child(-n+2) {
    //background: rgba(0,0,0,0.2);
    opacity: 0.5;
  }
  li {
    //transition: all 0.2s ease-out;
    margin: 2px 0 2px 0;
    background-color: $darker-item;
    overflow-x: hidden;
    list-style-type: none;
    box-sizing: border-box;
    padding: 9px 15px;

    select {
      height: 100%;
      width: 65px;
      border: 0;
      padding: 0;
      margin: 0 3px 0 0;
      float: right;
      background-color: $lighter-item;
      font-size: 0.7em;
    }

    .songlist-artist {
      float: left;
      overflow-x: hidden;
      width: 30%;
    }
    .songlist-title {
      float: left;
      width: 40%;
      overflow-x: hidden;
    }
    
    .songlist-airtime {
      float: left;
      overflow-x: hidden;
      width: 25%;
      margin-left: 14px;
    }

    .processing-icon {
      height: 15px;
      width: 15px;
      margin-left: 70px;
    }

    li .close {
      width: 5%;
      float: left;
    }
  }

  .commercialBlock {
    background-color: $big-accent-toned-down;

    .songlist-title {
      float: left;
      width: 70%;
    }
  }

  .commentary {
    background-color: $primary;
    
    .songlist-title {
      float: left;
      width: 20%;
    }

    .songlist-artist {
      width: 50%;
      float: left;
    }

    .songlist-airtime {
      width: 25%;
      float: left;
      margin-left: 14px;
    }
  }

  li {
   -ms-user-select: none; /* IE 10+ */
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
  }

}


#nowPlayingList {
  list-style: none;
  overflow: hidden;
  
  .nowPlaying {
    background-color: $darker-item;
    min-height: 77px;
    border: black solid 1px;
    padding-left: 6px;
    padding-right: 6px;
    display: table;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
  }

  .title {
    color: black;
    font-size: .9em;
    float: left;
    width: 50%;
    font-weight: bold;
    line-height: 100%;
    padding: 5px;
    vertical-align: center;
  }

  .artist {
    float: right;
    width: 50%;
    text-align: right;
    line-height: 100%;
    padding: 5px;
    vertical-align: center;
  }

  .progress {
    float: right;
    width: 100%;
    margin-bottom: 0;
  }
}

.row {
  max-width: 90%
}

#catalogAndRecordPanel {
  &.tabs {
    width: 100%;
    dd {
      width: 50%;
      a {
        background-color: $lighter-item;
        width: 100%;
        padding: .5em 1em .5em 1em;
        text-align: center;
      }
    }
    dd.active a {
      background-color: $darker-item;
    }
  }
}

#recording {
  margin: 0;
  list-style: none;
  min-height: 20px;
 .commentary {
    background-color: $darker-item;
    audio {
      width: 80%;
      display: block;
    }
  }
}

.nowPlayingTimes {
  .elapsedTime {
    float: left;
    width: 48%;
    text-align: left;
  }
  .muteButton {
    display: none;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 4%;
    float: left;
    background-size: cover;
    background-image: url('http://static.playola.fm/sound.png');
    height: 25px;
    &.muted {
      height: 25px;
      background-image: url('http://static.playola.fm/mute.png');
    }
  }
  .timeRemaining {
    float: right;
    text-align: right;
    width: 48%;
  }
}

#volumeMeter {
  height: 60px;
}