<%= filepicker_js_include_tag %>
<%= content_tag :div, class: "filepicker_info", data: { api_key: @filepicker_api_key } do %>
<% end %>

<div class="mic-image-inverse">

  <!-- Reveal Modals begin -->
  <%= content_tag "div", id: "songInfoModal", class: "reveal-modal medium", data: { reveal: true } do %>
    
    <h1>Song Import</h1>
    <p>We could not find a match because of missing or incorrect information in the mp3 file.  Please review the information below and make sure all information is correct.</p>
    <form data-abide id='songInfoForm'> 
      <fieldset>
        <div class="small-3 columns">
          <label for="title" class="right">Title</label>
        </div>
        <div class="small-9 columns">
          <input id="title" type="text" />
        </div>

        <div class="small-3 columns">
          <label for="artist" class="right">Artist</label>
        </div>
        <div class="small-9 columns">
          <input id="artist" type="text" />
        </div>

        <div class="small-3 columns">
          <label for="album" class="right">Album</label>
        </div>
        <div class="small-9 columns">
          <input id="album" type="text" />
        </div>

      </fieldset>
      
      <div class="row">
        <div class="small-6 small-offset-3">
          <div id='id3Submit' class="button expand">Info is Correct</div>
        </div>
      </div>
    </form>
  <% end %>

  <%= content_tag "div", id: "chooseMatch", class: "reveal-modal medium", data: { reveal: true } do %>
    <h1>Cannot Match Song</h1>
    <p>Please choose the song from the list of matches</p>
    <p>Your File Info:</p>
    <p>Filename: <b class="filenameDisplay"></b><br>
    <p>Title: <b class="titleDisplay"></b><br>
    <p>Artist: <b class="artistDisplay"></b>

    <form data-abide id='chooseID'>
      
      <div id="chooseSongContainer">
        <table id="chooseSongTable">
          <thead>
            <tr>
              <th></th>
              <th>Artist</th>
              <th>Title</th>
            </tr>
          </thead>
          <tbody>

            <!-- Possible Matches Inserted by JS Here -->

          </tbody>
        </table>
      </div>

      <div class="row">
        <div class="small-9 small-offset-3 columns">
          <input type="radio" name="songSelect" value="ECHONESTIDNOTFOUND" id="songSelect" />
          <label for="songSelect"><b>None of these are matches</b></label>
        </div>
      </div>

      <div class="row">
        <div class="large-12 large-centered columns">
          <ul class="button-group even-2">
            <li><a href='#' class="button" id="addSongByEchonestIdButton">Add Song</a></li>
            <li><a href='#' class="button" id="cancelAddSongButton">Cancel</a></li>
          </ul>
        </div>
      </div>
    </form>
  <% end %>



  <div class="row top-row">
    <h1 class="headline">Upload Songs</h1>
    <p class="sub-headline">Help us by adding to our catalog.  Once you upload a song, anyone can play it.</p>
    <div class="row">
      <div id="filepicker-drop">Drop Songs Here
      <span id="meter"></span></div>
    </div>
    <div class="row">
      <div class="small-6 columns">
        <h4 class="small-headline">Your Uploads</h4>
        <p class="sub-headline">Check the Status of Your Uploads</p>
        <div id="uploaded-song-list">
        </div>
      </div>
    <div class="small-6 columns centered">
      <h4 class="small-headline">Our Catalog</h4>
      <p class="sub-headline">See if a song is already in our catalog</p>
      <input type="text" id="searchbox" placeholder="Search Text" />

      <ul id="catalog-list">
      </ul>
    </div>

  </div>
</div>